doctype html 
html(lang = 'en')
    head 
        include includes/header.pug
        link(rel = 'stylesheet', href='/css/game.css')
    body 
        h1.display-2 Who's that Pokemon
        .container#userInfo
            label(for = '#userName') user: 
            span#userName #{user}
            br
            label(for = '#invite') Invite Link:
            br
            textarea#invite(cols = '30', rows = '1', readonly)
        .container#chatbox 
            h3 Chat
            textarea#displayArea(cols = '30', rows = '15', readonly) 
            form#chat(name = 'chat')
                label(for = 'input_message')
                input#inputMessage(type = 'text', name = 'inputMessage')
                input(type = 'submit' ,value = 'Send')
            br
        .container#main
            button#startGame.btn.btn-primary(type='button') Start Game
            div#clock Time Left: 5 sec
            .container#gameFrame
                img#pokemonImage(src="/images/Abra.png", alt="")
            form#guess(name = 'guess')
                label(for = 'guessInput')
                input#guessInput(type = 'text', name = 'guessInput')
                br
                input(type = 'submit' ,value = 'guess')
        .container#score 
            h3 Scoreboard
            hr
            .container#scoreFrame 
                ul#usersInLobby 
    script(src = '/js/gameHost.js')