doctype html 
html(lang = 'en')
    head 
        script(type='application/javascript').
            function getIP(json) {
                let ip = json.ip
                window.addEventListener('load', ()=>{
                    setIp(ip);
                })
            }
        include includes/header.pug
        link(rel = 'stylesheet', href='/css/gameJoin.css')
    body 
        h1.display-2 Who's that Pokemon?
        .container#userInfo
            label(for = '#userName') Username: 
            span#userName #{user}
            br
            span#gameId #{id}
        .container#chatbox 
            h3 Chat
            textarea#displayArea(cols = '30', rows = '15', readonly) 
            form#chat(name = 'chat')
                label(for = 'input_message')
                input#inputMessage(type = 'text', name = 'inputMessage' , placeholder="Enter chat here...")
                input(type = 'submit' ,value = 'Send')
            br
        .container#main
            div#clock Time Left:
            .container#gameFrame
                img#pokemonImage(src="/images/QuestionMark.png", alt="")
            form#guess(name = 'guess', autocomplete='off')
                label#correctAnswer Pokemon: ?
                br
                label(for = 'guessInput')
                input#guessInput(type = 'text', name = 'guessInput' , placeholder= "Enter guess here...")
                br
                input#submitButton(type = 'submit' ,value = 'Guess')
        .container#score 
            h3 Scoreboard
            hr
            .container#scoreFrame 
                div#usersInLobby
    script(src = '/js/gameJoin.js')