doctype html 
html(lang = 'en')
    head 
        include includes/header.pug
    body 
        h1.display-2.text-center Who's that Pokemon
        h2#userName.text-center #{user}
        a.btn.btn-primary(href = '/game/' + user ,type='button') Create Game
        form#joinGame.text-center(name = 'joinGame', action = '/join', method = 'POST')
            input#username(type ='text', name = 'username', hidden, value = user)
            label(for = 'gameID') Game Link:
            input#inviteLink(type = 'text', name = 'gameID' required)
            br
            input(type = 'submit', value = 'Connect')
    script(src = '/js/home.js')