doctype html 
html(lang = 'en')
    head 
        include includes/header.pug
        script(src = '/js/main.js')
    body
        h1.display-2.text-center Who's that Pokemon 
        form#connectUser.text-center(name = 'connectUser', action = '/connect', method = 'POST')
            label(for = 'username') Username:
            input#username(type = 'text', name = 'username' required)
            br
            input(type = 'submit', value = 'Connect')
