doctype html 
html(lang = 'en')
    head 
        include ../includes/header.pug
        link(rel="stylesheet", href="/css/error.css")
    body
        h1.display-2.text-center Error 
        p.lead Invite link is invalid.
        a.btn(href = '/' ,type='button') Return Home
