
/*
*{
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    text-shadow: -4px 0 #2a75bb, 0 1px #2a75bb, 1px 0 #2a75bb, 0 -1px #2a75bb;
}
*/

*{
    font-size: 100%;
}

img{
    filter: contrast(0%) brightness(20%)
}

body{
    max-width: 500px;
    margin: auto;
    text-align: center;

    /* Pokemon Font */
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    text-shadow: -4px 0 #2a75bb, 0 1px #2a75bb, 1px 0 #2a75bb, 0 -1px #2a75bb;
    
    /* background: */
    background: rgb(233,223,1);
    background: linear-gradient(90deg, rgba(233,223,1,1) 0%, rgba(204,119,0,1) 7%, rgba(255,0,0,1) 67%, rgba(204,0,0,1) 79%); 
}

#connectButton{
    margin-top: 5px;
}

#allUsers{
    display: none;
}